body{
  background-image: linear-gradient(to right ,#1687a7 ,#f6f5f5);
}

.container{
  text-align: center;
  padding: 8rem 0;
}

.row{
  width: 20rem;
  height: 4.6875rem;
  margin: 0 auto;
}

.col{
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  background-color: #d3e0ea;
  text-align: center;
  padding-top: 5%;
}

.col:hover{
  background-color: #fff;
}

.upper-screen,.lower-screen{
  background-color: #276678;
  border-width: 0;
  text-align: right;
}

.upper-screen{
  height: 1.7rem;
  font-size: 1.5rem;
  color: #3c415c;
}

.lower-screen{
  height: 4.55rem;
  font-size: 3rem;
}

.screen-row{
  height: 6.25rem;
}
